# Backup files
backups/

# System files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# Python
__pycache__/
*.pyc

# Temporary files
*.tmp
*.temp

*.iml
*.iws
*.eml
out/
.svn
log/*.log
tmp/**
node_modules/
.sass-cache